body {
    padding-top: 80px;
    padding-bottom: 20px;
}

.fixed-header {
    width: 100%;
    position: fixed;
    background: #333;
    color: #fff;
    top: 0;
}

.header-container {
    width: 80%;
    margin: 0 auto;
}

.ul-wrapper li {
    color: #fff;
    padding: 5px 25px;
    display: inline-block;
}

