.App {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.quote {
  background-color: red;
  background-size: cover;
  width: 450px;
  height: 320px;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quote h2 {
  font-size: 40px;
}

.quote small {
  font-size: 1.5em;
  font-family: 'Dancing Script', cursive;
}

.btn {
  display: block;
  border: 2px solid blue;
  background: transparent;
  padding: 10px 15px;
  color: blue;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background 1s, color 1s;
}

.btn:hover {
  background: blue;
  color: white;
  box-shadow: 0 8px 16px 0 black, 0 6px 20px 0 black;
}